.term-selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;  
  }
  
  .term-btn {
    width: 100px; 
    transition: 0.3s ease-in-out; 
  }
  
  .term-btn:hover {
    transform: scale(1.05);  
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
  }
  